<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head.ejs %>
  <title>MoneyBook</title>
  <script>
    $(document).ready(function() {
      $('#CUFormModal').on('show.bs.modal', function (event) {
          console.log('-------test Start--------');
          var button = $(event.relatedTarget) // Button that triggered the modal
          var data = button.data('path') // Extract info from data-* attributes
          
          var modal = $(this);
          if(data === 'create') {
            $("#frm").attr("action", "/category/createPro");
            $('#categoryNo').val('0');
            $('#userId').val('<%=userId%>');
            // $('input:radio[name=kinds]').val('0').attr('checked', true);
            // $("input:radio[name='kinds']:input[value='0']").prop("checked", true);
            $('#name').val('');
            modal.find('.modal-title').text('카테고리 추가');
          } else {
            $("#frm").attr("action", "/category/updatePro");
            modal.find('.modal-title').text('카테고리 수정');
          }
          console.log('button value -> ' + data);

      });
      $('#CUFormModal').on('hidden.bs.modal', function (event) {
          console.log('닫힙');
          location.reload();
        });
    });

    function openModal(data) {
      var category = JSON.parse(data);
      // console.log('openModal data -> ' + JSON.stringify(payment));
      // console.log('openModal data0 -> ' + data.toString());
      console.log('openModal data1 -> ' + data);
      // console.log('openModal data2 -> ' + payment.paymentName);

      $('#categoryNo').val(category.categoryNo);
      $('#name').val(category.name);
      $('#userId').val(category.userId);

      $('#CUFormModal').modal('show');
    }
   
  </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- Header -->
    <% include ../partials/header.ejs %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          카테고리 관리
          <small>(카테고리 추가, 수정, 삭제 가능)</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Category</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
        
        <div class="box">
          <div class="box-header with-border">
            
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CUFormModal" data-path="create">
                카테고리 추가
            </button>
          </div>
          <div class="box-body">
            <table class="table table-bordered text-center">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>종류</th>
                  <th>이름</th>
                </tr>
                <% for(var key=0; key<list.length; key++) { %>
                  <tr>
                    <td><%=key+1%></td>
                    <td>
                      <% if(list[key].kinds == 0) { %>
                        지출
                      <% } else if (list[key].kinds == 1) { %>
                        수입
                      <% } else if (list[key].kinds == 2) { %>
                        지출/수입
                      <% } else { %>
                        Error
                      <% } %>
                    </td>
                    <td><a href="javascript:openModal(`<%=JSON.stringify(list[key])%>`)"><%=list[key].name%></a></td>
                  </tr>
                <% } %>
            </table>
          </div>
        </div>
  
        <!-- Modal [ Create & Update Form ] -->
        <div class="modal fade" id="CUFormModal" tabindex="-1" role="dialog" aria-labelledby="CUFormModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="CUFormModalLabel">카테고리 수정</h4>
                </div>
              <form action="/payment/test-btn1" id="frm" method="post">
                <div class="modal-body">
                  <input type="hidden" name="categoryNo" id="categoryNo" value="" placeholder="번호">
                  <input type="hidden" name="userId" id="userId" value="">
                  <table class="table table-bordered">
                    <tr>
                      <th style="width: 80px">이름</th>
                      <td><input type="text" name="name" id="name" required></td>
                    </tr>
                    <tr>
                      <th>종류</th>
                      <td>
                        <input type="radio" name="kinds" value="0" required> 지출&nbsp;&nbsp;
                        <input type="radio" name="kinds" value="1"> 수입&nbsp;&nbsp;
                        <input type="radio" name="kinds" value="2"> 지출/수입
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
              </div>
            </div>
          </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    <% include ../partials/footer.ejs %>
    <div class="control-sidebar-bg"></div>
  </div>

</body>

</html>